<footer>
  <section class="customer-care">
    <p>Customer Care</p>
    <ul>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Returnes</a></li>
      <li><a href="#">Shipping</a></li>
      <li><a href="#">Order Status</a></li>
      <li><a href="#">International Shipments</a></li>
    </ul>
  </section>
  <section class="about">
    <p>About</p>
    <ul>
      <li><a href="#">Our Story</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Join Our Team</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>

  </section>
  <section class="about-us">
    <div class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Ally Pittman, Lora Paine, Tony Yu, Hannah Thanh Nguyen, Christine Chong 
    </div>
    <!-- <div class="social">
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://wwww.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
    </div> -->
  </section>

</footer>