<footer><div class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Ally Pittman, Lora Paine, Tony Yu, Hannah Thanh Nguyen, Christine Chong </div>
    <div class="social">
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://wwww.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
  </div>

   </footer>