<header>
    <section class="logo-nav">
        <div class="logo">
            <img src="/images/product.jpeg" alt="Company logo">
        </div>
        <nav>
            <a href="/">HOME</a>
            <a href="#">SHOP ALL</a>
            <a href="/show">BEST SELLERS</a>
            <a href="#">BRANDS</a>
            <a href="/show">SALE</a>
        </nav>
    </section>
    <section class="icons">
        <a href="/users/new">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="account_circle_24px">
                <path id="icon/action/account_circle_24px" fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM7.07 18.28C7.5 17.38 10.12 16.5 12 16.5C13.88 16.5 16.51 17.38 16.93 18.28C15.57 19.36 13.86 20 12 20C10.14 20 8.43 19.36 7.07 18.28ZM12 14.5C13.46 14.5 16.93 15.09 18.36 16.83C19.38 15.49 20 13.82 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12C4 13.82 4.62 15.49 5.64 16.83C7.07 15.09 10.54 14.5 12 14.5ZM12 6C10.06 6 8.5 7.56 8.5 9.5C8.5 11.44 10.06 13 12 13C13.94 13 15.5 11.44 15.5 9.5C15.5 7.56 13.94 6 12 6ZM10.5 9.5C10.5 10.33 11.17 11 12 11C12.83 11 13.5 10.33 13.5 9.5C13.5 8.67 12.83 8 12 8C11.17 8 10.5 8.67 10.5 9.5Z" fill="#333333"/>
                </g>
            </svg>                
        </a>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="favorite_24px">
            <path id="icon/action/favorite_24px" d="M12 21.175L10.55 19.855C5.4 15.185 2 12.105 2 8.32495C2 5.24495 4.42 2.82495 7.5 2.82495C9.24 2.82495 10.91 3.63495 12 4.91495C13.09 3.63495 14.76 2.82495 16.5 2.82495C19.58 2.82495 22 5.24495 22 8.32495C22 12.105 18.6 15.185 13.45 19.865L12 21.175Z" fill="#333333"/>
            </g>
            </svg>
        </a>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="shopping_basket_24px">
                <path id="icon/action/shopping_basket_24px" fill-rule="evenodd" clip-rule="evenodd" d="M22 9.50627H17.21L12.82 2.93627C12.42 2.34627 11.55 2.34627 11.16 2.93627L6.77 9.50627H2C1.45 9.50627 1 9.95627 1 10.5063C1 10.5963 1.01 10.6863 1.04 10.7763L3.58 20.0463C3.81 20.8863 4.58 21.5063 5.5 21.5063H18.5C19.42 21.5063 20.19 20.8863 20.43 20.0463L22.97 10.7763L23 10.5063C23 9.95627 22.55 9.50627 22 9.50627ZM11.99 5.29627L14.8 9.50627H9.18L11.99 5.29627ZM10 15.5063C10 16.6063 10.9 17.5063 12 17.5063C13.1 17.5063 14 16.6063 14 15.5063C14 14.4063 13.1 13.5063 12 13.5063C10.9 13.5063 10 14.4063 10 15.5063Z" fill="#333333"/>
                </g>
            </svg>
        </a>
        <a href="/users">Users</a>
    </section>
</header>