<header>
    <section class="logo-nav">
        <div class="logo">
            <img src="/images/product.jpeg" alt="Company logo">
        </div>
        <nav>
            <a href="/">SHOP ALL</a>
            <a href="../show">BEST SELLERS</a>
            <a href="#">BRANDS</a>
            <a href="../show">SALE</a>
        </nav>
    </section>
    <section class="icons">
        <a href="../users">Users</a>
        <a href="/users/new">New User</a>
        <a href="#">heart</a>
        <a href="#">shopping basket</a>
    </section>
</header>