<header>
    <section class="logo-nav">
        <div class="logo">
            <img src="/images/product.jpeg" alt="Company logo">
        </div>
        <nav>
            <a href="#">SHOP ALL</a>
            <a href="#">BEST SELLERS</a>
            <a href="#">BRANDS</a>
            <a href="#">SALE</a>
        </nav>
    </section>
    <section class="icons">
        <a href="/users/new">New User</a>
        <a href="#">heart</a>
        <a href="#">shpping basket</a>
    </section>
</header>