<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>About Us</h1>

    <h3>Ally</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam nostrum ratione autem. Doloremque magnam quis vel possimus atque eaque.</p>

    <h3>Lora</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam nostrum ratione autem. Doloremque magnam quis vel possimus atque eaque.</p>

    <h3>Tony</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam nostrum ratione autem. Doloremque magnam quis vel possimus atque eaque.</p>

    <h3>Hannah</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam nostrum ratione autem. Doloremque magnam quis vel possimus atque eaque.</p>

    <h3>Christine</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam nostrum ratione autem. Doloremque magnam quis vel possimus atque eaque.</p>
    
</body>

<%- include('partials/footer') %>

</html>