<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/confirm.css">
    <title>Skin Care Reviews</title>
</head>

<body>
    <!-- NAV -->
    <%- include('partials/nav.ejs') %>

    <section class="thank-you"> 
        <img src="../images/Thank You.jpg"/>
        <div class="text"> 
            <h3>THANK YOU FOR YOUR SUBSCRIPTION</h3>
            <h5>We have sent you an email to <% user.email %> for confirmation.</h5>
            <h5>Continue the process with the provided instructions.</h5>
        </div>

        <div class="buttons"> 
            <button id="homepage"><a href="/">Back to homepage</a></button> 
            <button id="blog">Visit our blog</button>
        </div>
    </section>  



    
    
    <%- include('partials/footer') %>
</body>

</html>