<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>New User Sign Up</h1>

    <form action="/users" method="POST">

        First Name: <input type="text" name="firstName">
        Last Name: <input type="text" name="lastName">
        E-mail: <input type="text" name="email">
        <button type="submit">Subimt</button>

    </form>

</body>

<%- include('partials/footer') %>

</html>

