<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>New User Sign Up</h1>

</body>

<%- include('partials/footer') %>

</html>