<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/show.css">
    
    <title>Skin Care Reviews</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/nav.ejs') %>

    <!-- Main -->
    <main>
        <section class="show-prod">
            <div class="small-image">
                <img src="/images/product.jpeg" alt="Small Product Image1">
                <img src="/images/product.jpeg" alt="Small Product Image2">
            </div>
            <div class="main-image">
                <img src="/images/product.jpeg" alt="Main Product Image">
            </div>
            <div class="product-desc">
                <div class="prod-desc-header">
                    <div class="title-name">
                        <h4>THE ORDINARY</h4>
                        <h6>"Buffet"</h6>
                        <h6>$14.80</h6>
                    </div>
                    <div class="likes">
                        <p class="stars">* * * * * (134)</p>
                    </div>
                </div>
                <div class="buy">
                    <button type="submit">ADD TO BAG</button>
                </div>
                <div class="prod-details">
                    <nav class="prod-nav">
                        <a href="#details">Details</a>
                        <a href="#ingredients">Ingredients</a>
                        <a href="#howtouse">How to Use</a>
                        <a href="#shippingreturn">Shipping & Return</a>
                    </nav>
                    <div class="details hidden" id="details">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde labore obcaecati tempore non maxime vitae ad cumque id debitis. Necessitatibus soluta nemo reiciendis, enim aspernatur ducimus quasi. Quos nisi iure, ut tempora odio iste nesciunt nemo facilis vitae aliquam earum repellendus atque accusantium, et velit possimus maiores incidunt officia praesentium.
                        </p> 
                    </div>
                    <div class="ingredients hidden" id="ingredients">
                        <p>
                            organic blah, healthy natrual blah, and hydrochloride
                        </p>
                    </div>
                    <div class="howto hidden" id="howtouse">
                        <p>
                            apply two drops on the face.
                        </p>
                    </div>
                    <div class="shipping-return hidden" id="shippingreturn">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut a totam ex quasi consequatur sunt repudiandae, minima alias quidem aliquid!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews">
            <h4>Reviews</h4>
            <div class="review">
                <div class="reviewer">
                    <h6>EJS Customer Name</h6>
                    <h6>* * * * *</h6>
                    <p>Skin Type</p>
                    <p>Skin Concerns</p>
                </div>
                <div class="review-detail-section">
                    <div class="review-title">
                        <h6>Review Title</h6>
                        <div class="thumbs">
                            <a href="#"><img src="/images/thumb_up_alt_24px.png" alt="thumb up"> (1)</a>
                            <a href="#"><img src="/images/thumb_down_alt_24px.png" alt="thumb down"> (0)</a>
                        </div>
                    </div>
                    <p class="review-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vero error quas minus! Quos quis accusantium repellat praesentium incidunt earum vitae dolores, facere assumenda quidem voluptatum, accusamus libero!
                    </p>
                </div>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>


</html>