<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs') %>
    
    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>Product Show</h1>
    
    <%- include('partials/footer') %>
</body>
</html>