
.about-page {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 950px;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
}
.team-gallery {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.team-member-container {
    max-width: 250px;
    padding: 40px;
}
.personal-info {
    margin-top: 30px;
    width: 240px;
}
.team-gallery img {
    border: black solid .5px;
    border-radius: 3%;
    width: 250px;
    max-width: 275px;
    height: 250px;
    opacity: 0.85;
    justify-content: center;
    /* apply transition property to default state */
    transition: opacity 0.2s linear, transform 0.5s ease-in-out;
}
.selfie-box img:hover {
    width: 250px;
    height: 250px;
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
.team-member-container p {
    font-size: 12px;
    
}
.float-left {
    float: left;
    padding: 50px;
}


.about-sections {
    margin-top: 50px;
}



h1 {
    margin-top: 40px;
}


/* 

.team-container {

}
.team-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.selfie-box {
    background-color: white;
    padding: 5px;
    width: 275px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.team-member-container {
    display: flex;
    flex-wrap: wrap;
    width: 300;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
.team-member-container p {
    font-size: 12px;
    
}
.products-and-info-container p {
    font-size: 12px;
} */