.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 50%;
    margin: 40px auto;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    padding: 0px;
    text-align: center;
}

.thank-you img {
    /* min-width: 550px; */
    width: 70%;
    height: 50%;
    margin: 0 auto;
}

.text {
    padding-top: 25px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 45px;
}

h5 {
    font-size: 13px;
    font-weight: 400;
}

button {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    padding: 16px 10px;
    font-weight: 500;
    border-color: none;
    margin: 30px;
    text-align: center;
    word-wrap: break-word;
}
button a {
    font-size: 14px;
    color: white;
}
button a:hover {
    text-decoration: none;
}
#homepage {
    color: white;
    background: rgba(8, 157, 121);
}

#blog {
    border-color: lightgrey;
}


@media screen and (min-width: 320px) and (max-width: 480px)  {
    .thank-you img {
        /* min-width: 550px; */
        width: 100%;
    }
}