body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-homepage {
    padding: 10vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}
/*********************************** CAROUSEL ***********************************/

.carousel-inner {
    /* border-radius: 7%;  thre is something on top of this and it looks crappy*/

}
.carousel-item {
    height: 100%;

}

/*********************************** LINKS SECTION ***********************************/
a {
    text-decoration: none;
    color: black;
    font-size: 100%;
    padding: 10px;
}
.shop-by-links-container {
    padding: 10px 25px 25px 25px;
    margin-top: 75px;
}
.shop-by-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: small;
}


/*********************************** GALLERY ***********************************/
.products-container {
    max-width: 950px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-box {
    background-color: white;
    padding: 5px;
    width: 275px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.gallery img {
    border: black solid .5px;
    border-radius: 3%;
    min-width: 250px;
    max-width: 275px;
    max-height: 250px;
    opacity: 0.85;
    justify-content: center;
    /* apply transition property to default state */
    transition: opacity 0.2s linear, transform 0.5s ease-in-out;
}
.image-box img:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
.product-rating-landing-page {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    height: 30px;
}
.products-and-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 14px;
}
.products-and-info-container p {
    font-size: 12px;
}