/* Show prod */

main {
    margin: 20px;
    padding: 20px;
    max-width: 1200px;
}

.show-prod,
.prod-images,
.prod-desc-header,
.review,
.review-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.show-prod {
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

/* ***** prod-images */
.prod-images,
.reviews,
.recommended {
    margin: 20px 30px;
    margin-bottom: 130px;
}

.reviews h4,
.recommended h4 {
    margin-bottom: 30px ;
}

.small-image-div {
    width: 103px;
}
.small-image {
    width: 63px;
    height: 78px;
    border-radius: 5px;
    margin: 20px;
}


.main-image {
    width: 370px;
    height: 480px;
    border-radius: 20px;
    background-color: white;
}

/* ***** product-desc */
.product-desc {
    max-width: 520px;
    min-width: 500px;
    padding: 20px 30px;
}

.likes {
    min-width: 150px;
}

.stars .fa {
    font-size: 12px;
}
.rating-number {
    display: inline;
}

.buy {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.prod-nav {
    margin: 10px 0;

}

/* .nav-a {
    text-decoration: none;
} */

.nav-a:hover {
    text-decoration: none;
    border-bottom: solid 4px #bfd7c3 ;
}

/* ****** reviews */

.reviews {
    padding-left: 20px;
}

.review {
    margin-bottom: 40px;
}

.reviewer {
    width: 20%;
}

h6,
.reviewer p,
.reviewer .stars {
    margin-bottom: 4px;
}
.reviewer h6 {
    font-weight: bold;;
}
.reviewer p {
    font-size: 14px;
}

.thumb {
    text-decoration: none;
    padding: 0 10px;
}

.review-detail-section {
    width: 80%
}

/* ***** Recommended */

.prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prod-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod-img {
    width: 210px;
    height: 245px;
}